@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*********************** RESET ***************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*********************** CODE ***************************/

body {
    background-color: white;
    color: rgb(17, 17, 17);
    font-family: 'Noto Sans', Arial, sans-serif;
    padding: 0 6vw;
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    gap: 2rem;
}

header * {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header svg {
    fill: rgb(17, 17, 17);
}

.logo {
    height: 40px;
    width: 100px;
    background-color: #FBD914;
}

.inputBox {
    max-width: 600px;
    height: 50px;
    padding: 0 20px;
    border-radius: 8rem;
    background-color: rgb(245, 245, 245);
    color: rgb(72, 72, 72);
    font-size: 16px;
    gap: 8px;
    flex-grow: 1;
}

.inputBox span {
    width: 100%;
}

.header2 div, .header3 div{
    gap: 8px;
}

.header1, .header2, .header3 {
    gap: 2rem;
}

.header1, .header2, .header3 {
    height: 90px;
}

.storepicker {
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
}

.gallery {
    margin-bottom: 4rem;
}

.booklet {
    margin-bottom: 4rem;
}

h1 {
    display: inline-block;
    color: rgb(17, 17, 17);
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 2rem;
}

h2 {
    display: inline-block;
    color: rgb(17, 17, 17);
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 2rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
 
}

li {
  height: 15vh;
  flex-grow: 1;
}

li:last-child {
  flex-grow: 10;
  max-width: 20%;
}

li img {
    height: 2000px;
    max-height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

@media screen and (max-width: 1199px) {
    header {
        flex-wrap: wrap;
    }

    .inputBox {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .header2 {
        height: 57px;
        order: 3;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px rgb(223, 223, 223);
    }

    .header3 span{
        display: none;
    }
    
    .gallery {
        order: 2;
    }
}

@media screen and (max-width: 699px) {
    header {
        gap: 0.5rem;
    }
    
    .inputBox {
        order: 2;
        margin: 0;
        width: 100%;
    }

}

@media (max-aspect-ratio: 1/1) {
  li {
    height: 10vh;
  }
}


@media (max-height: 480px) {
  li {
    height: 40vh;
  }
}


@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    width: 45%;
  }

    li:last-child {
    max-width: 100%;
}

  li img {
    width: 100%;
    min-width: 0;
  }
}